<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
       <div class="one">
          <center><img src = '{{ current_wheel_path }}' class="natal-wheel"/></center>
       </div>
    </body>
    </html>
</html>
